@model IEnumerable<RRHHApp.Models.Usuarios.Usuario>

@{
    ViewBag.Title = "Listado de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    
    <div class="pagetitle">
        <h1>@ViewBag.Title</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Usuario</a></li>
                <li class="breadcrumb-item">@ViewBag.Title</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <table class="table datatable table-responsive table-hover table-striped display" width="100%" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre de Usuario
                                    </th>
                                    <th>
                                        Supervidor Directo
                                    </th>
                                    <th>
                                        Departamento
                                    </th>
                                    <th>
                                        Posicion
                                    </th>
                                    <th>
                                       Correo
                                    </th>
                                    <th>
                                        Fecha de Ingreso
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    foreach (var term in Model)
                                    {
                                        <tr style="@(term.Eliminado == true ? "background-color:#FAE6E9" : "")">
                                            <td>@Html.DisplayFor(modelItem => term.Nombre)</td>
                                            <td>@Html.DisplayFor(modelItem => term.Apellido)</td>
                                            <td>@Html.DisplayFor(modelItem => term._Departamento.Descripcion)</td>
                                            <td>@Html.DisplayFor(modelItem => term._Posicion.Descripcion)</td>
                                            <td>@Html.DisplayFor(modelItem => term.Correo)</td>
                                            <td>@term.FechaIngreso.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
