@model RRHHApp.Models.Usuarios.GrupoUsuario

@{
    ViewBag.Title = "Editar Grupo de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>@ViewBag.Title </h1>
</div>

<!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Datos Generales </h5>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.FechaCreacion)
                        @Html.HiddenFor(model => model.FechaModificacion)
                        @Html.HiddenFor(model => model.Estado)
                        @Html.HiddenFor(model => model.Eliminado)

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Descripcion</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="button" value="Volver Atras" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "GrupoUsuario") '" />
                            <input type="submit" value="Guardar" class="btn btn-primary" onclick="return confirm('Seguro que desea modificar el Grupo de Usuario?')" />
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
