@model RRHHApp.Models.Licencias.Licencia

@{
    ViewBag.Title = "Editar Licencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title </h1>
</div>

<!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Datos Generales </h5>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.FechaCreacion)
                        @Html.HiddenFor(model => model.FechaModificacion)
                        @Html.HiddenFor(model => model.Estado)
                        @Html.HiddenFor(model => model.Eliminado)

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Descripcion</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> Genero </label>
                            <div class="col-sm-10">
                                <select id="Genero" name="Genero" class="form-control">
                                    <option value="0">Masculino</option>
                                    <option value="1">Femenimo</option>
                                    <option value="2">Todos</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Icono</label>
                            <div class="col-sm-10">
                                <select id="Icono" name="Icono" class="form-control">
                                    <option value="airplane">Avion</option>
                                    <option value="archive">Archivo</option>
                                    <option value="bank">Banco</option>
                                    <option value="battery-full">Bateria</option>
                                    <option value="bicycle">Bicicleta</option>
                                    <option value="bag">Bolsa</option>
                                    <option value="cup-hot">Cafe</option>
                                    <option value="calendar-date">Calendario</option>
                                    <option value="cart">Carrito</option>
                                    <option value="pc-display">Computadora</option>
                                    <option value="balloon">Globo</option>
                                    <option value="gender-male">Hombre</option>
                                    <option value="controller">Juego de Video</option>
                                    <option value="book">Libro</option>
                                    <option value="key">Llave</option>
                                    <option value="capsule">Medicamento</option>
                                    <option value="mic">Microfono</option>
                                    <option value="gender-female">Mujer</option>
                                    <option value="gift">Regalo</option>
                                    <option value="clock">Reloj</option>
                                    <option value="cloud-lightning-rain">Tormenta</option>
                                    <option value="sun">Sol</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Colocar en Inicio</label>
                            <div class="col-sm-10 addtopspace">
                                <div class="form-check form-switch">
                                    @Html.EditorFor(model => model.Es_Principal, new { htmlAttributes = new { @class = "form-check-input" } })
                                    @Html.ValidationMessageFor(model => model.Es_Principal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="button" value="Volver Atras" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Licencia") '" />
                            <input type="submit" value="Guardar" class="btn btn-primary" onclick="return confirm('Seguro que desea modificar la Licencia?')" />
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("Genero").value = "@ViewBag.Genero";
        document.getElementById("Icono").value = "@ViewBag.Icono";
    });
</script>
