@model IEnumerable<RRHHApp.Models.Licencias.Licencia>

@{
    ViewBag.Title = "Listado de Licencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Licencia")">Licencia</a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    <br />
                    <button type="button" class="btn btn-success btn-sm" title="Agregar Nuevo Usuario"
                            style="float: right; margin-top: -15px; margin-right: 5px; padding: 5px 15px 5px 10px;"
                            onclick="location.href='@Url.Action("Create", "Licencia")'">
                        <span class="fa fa-plus">&nbsp;</span> Agregar Nueva Licencia
                    </button>
                    <br />
                    <table class="table datatable table-responsive table-hover table-striped display" width="100%" cellspacing="1">
                        <thead>
                            <tr>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Icono
                                </th>
                                <th>
                                    Colocar en Inicio
                                </th>
                                <th>
                                    Genero
                                </th>
                                <th>
                                    Fecha de Creacion
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                foreach (var term in Model)
                                {
                                    <tr style="@(term.Eliminado == true ? "background-color:#FAE6E9" : "")">
                                        <td>@Html.DisplayFor(modelItem => term.Descripcion)</td>
                                        <td>@term.Icono</td>
                                        <td>@(term.Es_Principal ? "Si" : "No")</td>
                                        <td>@(term.Genero == RRHHApp.Models.Enums.GeneroEnum.Femenino ? "Femenino" : (term.Genero == RRHHApp.Models.Enums.GeneroEnum.Masculino ? "Masculino" : "Todos")   )</td>
                                        <td>@term.FechaCreacion.ToString("dd/MM/yyyy hh:mm tt")</td>
                                        <td>@Html.DisplayFor(modelItem => term.Estado)</td>
                                        <td align="right">

                                            @if (!term.Eliminado)
                                            {
                                                <button type="button" class="btn btn-info btn-sm" title="Modificar" onclick="location.href='@Url.Action("Edit", "Licencia", new { id = term.Id }) '">
                                                    <span class="bi bi-pencil">&nbsp;</span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" title="Eliminar" onclick="location.href='@Url.Action("Delete", "Licencia", new { id = term.Id }) '">
                                                    <span class="bi bi-eraser">&nbsp;</span>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>
