@model IEnumerable<RRHHApp.Models.Solicitudes.SolicitudEstado>

@{
    ViewBag.Title = "Estado de las Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SolicitudEstado")">Solicitud</a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    <br />
                    <table class="table datatable table-responsive table-hover table-striped display" width="100%" cellspacing="1">
                        <thead>
                            <tr>
                                <th>
                                    Recurso
                                </th>
                                <th>
                                    Licencia
                                </th>
                                <th>
                                    Supervisor Directo
                                </th>
                                <th>
                                    SD Estado
                                </th>
                                <th>
                                    Supervisor Superior
                                </th>
                                <th>
                                    SS Estado
                                </th>
                                <th>
                                    RRHH
                                </th>
                                <th>
                                    R. Estado
                                </th>
                                <th>
                                    Fecha
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                foreach (var term in Model)
                                {
                                    <tr style="@(term.Eliminado == true ? "background-color:#FAE6E9" : "")">

                                        <td>@string.Format("{0} {1}", term._UsuarioSolicitudes._Usuario.Nombre, term._UsuarioSolicitudes._Usuario.Apellido) </td>
                                        <td>@Html.DisplayFor(modelItem => term._UsuarioSolicitudes._Licencia.Descripcion)</td>
                                        <td>@string.Format("{0} {1}", term._Supervisor.Nombre, term._Supervisor.Apellido) </td>
                                        <td style="background-color: @((term.SupervisorEstado == RRHHApp.Models.Enums.SolicitudEstadoEnum.Aprobado) ? "#C5ECDA" :
                                                ((term.SupervisorEstado == RRHHApp.Models.Enums.SolicitudEstadoEnum.Rechazado) ? "#F3B0B0" :"#FFFDB7"))">
                                            @Html.DisplayFor(modelItem => term.SupervisorEstado)
                                        </td>
                                        <td>@string.Format("{0} {1}", term._Gerente.Nombre, term._Gerente.Apellido) </td>
                                        <td style="background-color: @((term.GerenteEstado == RRHHApp.Models.Enums.SolicitudEstadoEnum.Aprobado) ? "#C5ECDA" :
                                                ((term.GerenteEstado == RRHHApp.Models.Enums.SolicitudEstadoEnum.Rechazado) ? "#F3B0B0" :"#FFFDB7"))">
                                            @Html.DisplayFor(modelItem => term.GerenteEstado)
                                        </td>
                                        <td>@string.Format("{0} {1}", term._RRHH.Nombre, term._RRHH.Apellido) </td>
                                        <td style="background-color: @((term.RRHHEstado == RRHHApp.Models.Enums.SolicitudEstadoEnum.Aprobado) ? "#C5ECDA" :
                                                ((term.RRHHEstado == RRHHApp.Models.Enums.SolicitudEstadoEnum.Rechazado) ? "#F3B0B0" :"#FFFDB7"))">
                                            @Html.DisplayFor(modelItem => term.RRHHEstado)
                                        </td>
                                        
                                        <td>@term.FechaCreacion.ToString("dd/MM/yyyy hh:mm tt")</td>
                                    </tr>
                                    }
                                    }
                                </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

