@model RRHHApp.Models.Usuarios.Posicion

@{
    ViewBag.Title = "Eliminar: " + @Model.Descripcion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>@ViewBag.Title </h1>
</div>
<style>
    .label {
        font-weight: bold;
    }
</style>
<!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> ¿Estás seguro/a que quieres eliminar esta Posicion? </h5>

                    <div>
                        <hr />

                        <div class="row">
                            <div class="col-lg-2 col-md-4 label "> Departamento </div>
                            <div class="col-lg-10 col-md-8">@Html.DisplayFor(model => model._Departamento.Descripcion) </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-4 label "> Descripcion </div>
                            <div class="col-lg-10 col-md-8">@Html.DisplayFor(model => model.Descripcion) </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-4 label "> Fecha Creacion </div>
                            <div class="col-lg-10 col-md-8">@Html.DisplayFor(model => model.FechaCreacion) </div>
                        </div>
                        <br />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">

                                        <input type="button" value="Volver Atras" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Posicion") '" />
                                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div><br /><br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

